# backend
flask
fastapi
uvicorn
SQLAlchemy  # Core ORM
python-multipart # For FastAPI form data (OAuth2PasswordRequestForm)
alembic     # For database migrations

# llm
openai
langchain

# testing
pytest
pytest-cov
requests
flake8
mypy
black
isort

# auth
passlib[bcrypt]
python-jose[cryptography]

# other
python-dotenv
arrow
pendulum
loguru
# Add other project dependencies here
